@charset "utf-8";
/*
Я думал, что лучше сделать уже никогда не смогу, но...
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  text-decoration: none;
  list-style: none;
}

/* Latest Chrome, Edge, Firefox */
details>summary::marker,
/* Safari */
details>summary::-webkit-details-marker {
  display: none;
}

/* Fonts start */
@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/roboto_regular.ttf);
  /* 400 Normal */
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/roboto_bold.ttf);
  font-weight: bold;
  /* 700 */
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/roboto_italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/roboto_italic.ttf);
  font-style: oblique;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/roboto_thin.ttf);
  font-weight: 100;
  /* Hairline */
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/roboto_light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/roboto_medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/roboto_black.ttf);
  font-weight: 900;
  /* Heavy */
}

/* Fonts end */

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #E6E6E6;
  font: 2.5vw Roboto, Arial, Verdana, Helvetica, sans-serif;
}

h1,
h2,
h3,
p,
ul,
ol,
li,
details,
pre {
  margin-bottom: 2vw;
}

h1 {
  font-size: 5.7vw;
}

h2 {
  font-size: 4.0vw;
}

h3,
.nav-header {
  font-size: 2.8vw;
}

h3 {
  margin-top: 6vw;
}

h1,
h2,
h3,
.nav-random,
.nav-header {
  font-weight: bold;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

.unlabeled li,
nav li {
  list-style: none;
}

details[open] summary~* {
  animation: spawn .3s ease-in-out;
  /* Fire once after page load */
}

summary:before {
  content: "► ";
}

details[open] summary:before {
  content: "▼ ";
}

/* details summary:before {
  content: "🥚 ";
}

details:hover>summary:before {
  content: "🐣 ";
}

details[open]>summary:before {
  content: "🐥 ";
}

details[open]>summary:hover:before {
  content: "🐤 ";
} */

table {
  display: block;
  border-collapse: collapse;
  overflow-x: scroll;
}

table,
td:hover {
  background-color: black;
}

caption,
th,
td {
  padding: 2vw;
}

caption,
th {
  text-align: left;
}

th,
td {
  vertical-align: top;
}

.osi-1 {
  background-color: DarkRed;
}

.osi-2 {
  background-color: Chocolate;
}

.osi-3 {
  background-color: DarkGoldenRod;
}

.osi-4 {
  background-color: SeaGreen;
}

.osi-5 {
  background-color: ForestGreen;
}

.osi-6 {
  background-color: green;
}

.osi-7 {
  background-color: DarkGreen;
}

.osi-data {
  background-color: OliveDrab;
  text-align: center;
}

.osi-media {
  background-color: purple;
}

.osi-host {
  background-color: DarkOliveGreen;
}

.osi-data,
.osi-media,
.osi-host {
  vertical-align: middle;
}

del {
  color: gray;
  text-decoration: line-through #f00;
}

pre {
  padding-bottom: 2vw;
  overflow-x: scroll;
}

code,
.nav-focus {
  color: #E6770B;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.spoiler {
  background-color: #E6770B;
  color: transparent;
}

.spoiler:hover {
  background-color: inherit;
  color: inherit;
}

iframe {
  width: 100%;
  height: 56.25%;
  /* YouTube embed iframe width="560" height="315" */
  /* (315 × 100) ÷ 560 = 56,25 */
}

a,
a:link,
a:visited,
summary {
  color: #A373C2;
}

a,
a:link,
a:hover,
a:active,
a:focus,
a:visited {
  border-bottom: solid .3vw;
  border-radius: .5vw;
}

a:hover,
a:active,
a:focus {
  border-bottom: none;
}

a:hover,
a:active,
a:focus,
li::marker,
summary:hover,
summary:active,
summary:focus,
summary:before,
details[open] summary:before {
  color: #FF74FD;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus,
summary,
summary:hover,
summary:active,
summary:focus,
summary:before,
details[open] summary:before,
td,
.spoiler {
  transition: ease .3s;
}

.link-image {
  border-bottom: none !important;
}

.link-image img {
  max-width: 100%;
  max-height: 100%;
}

/* Nav start */
label.icon,
.nav-bottom,
.nav-random {
  position: fixed;
  bottom: 0;
}

label.icon {
  z-index: 200;
}

.nav-bottom,
.nav-random {
  z-index: 1;
}

.menu,
label.icon {
  right: 0;
}

input#menu,
.nav-bottom,
nav::-webkit-scrollbar {
  display: none;
}

.icon {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.icon .menu,
.icon .menu:before,
.icon .menu:after {
  position: absolute;
  width: 6vw;
  height: 1vw;
  background: #A373C2;
  border-radius: 1vw;
  content: "";
  transition: background ease .3s, top ease .3s .3s, transform ease .3s;
}

.icon:hover .menu,
.icon:hover .menu:before,
.icon:hover .menu:after,
#menu:checked+.icon .menu,
#menu:checked+.icon .menu:before,
#menu:checked+.icon .menu:after {
  background: #FF74FD;
}

.icon .menu {
  bottom: 4.5vw;
  right: 2vw;
}

.icon .menu:before {
  top: -2vw;
}

.icon .menu:after {
  top: 2vw;
}

#menu:checked+.icon .menu {
  background: transparent;
}

.icon:hover,
.icon:active,
.icon:focus,
#menu:checked+label.icon {
  background-color: rgba(204, 0, 255, .2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .5);
  /* Offset-X | Offset-Y | Blur-radius | Spread-radius */
}

#menu:checked+.icon .menu:before {
  transform: rotate(45deg);
}

#menu:checked+.icon .menu:after {
  transform: rotate(-45deg);
}

#menu:checked+.icon .menu:before,
#menu:checked+.icon .menu:after {
  top: 0;
  transition: top ease .3s, transform ease .3s .3s;
}

nav {
  max-width: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 100;
  overflow: auto;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .5);
  transition: max-width ease .6s;
}

/*
  Ответственно заявляю — сносите этот блохастый горе-браузер от компании с названием «МАЗИЛА».
  Они позиционировались как пионеры в веб-технологиях, а в итоге стали отсталыми ослами, которые тормозят прогресс.
  Для поддержки фич, которым 5 лет в обед, мне приходится писать костыли для ободранной лисы.
  Этому нет оправдания и нет ни единой причины, чтобы в 2к22 юзать это недоразумение (разве что себя не уважать?).
  — «Сносите её, ребята!».

  Для фанбоев: настоящие лисы невыносимо блевотно воняют, больные, противные и мерзкие.
  «Лиса на аве — мать в канаве» © Конфуций, 479 год до н. э.
*/
@-moz-document url-prefix() {

  .icon:hover,
  .icon:active,
  .icon:focus,
  #menu:checked+label.icon {
    background-color: rgba(52, 13, 82, .9);
    /* #340d52 */
  }

  nav {
    background-color: rgba(0, 0, 0, .9);
  }
}

#menu:checked~nav,
#menu:hover~nav,
nav:hover {
  max-width: 50vw;
}

nav ul {
  margin: 2vw 12vw 0 2vw;
  /* Top | Right | Bottom | Left */
}

nav li {
  white-space: nowrap;
}

.nav-divider {
  margin-bottom: 6vw;
}

.nav-footer {
  margin-bottom: 10vw;
}

.nav-random {
  margin: 2vw;
}

.nav-random a {
  border: none;
}

.nav-random-question {
  font-size: 8vw;
  line-height: 5vw;
}

.nav-random-hint {
  display: none;
}

/* Nav end */

.header {
  background: linear-gradient(225deg, #1d446c, #662D91, #C22D29);
  animation: hue 3s linear infinite;
}

.header,
.logo,
.icon {
  transition: ease .6s;
}

.header,
.main {
  padding: 10vw;
}

.italic {
  font-style: italic;
}

.logo {
  max-width: 20vw;
  max-height: 20vw;
  float: right;
  opacity: .9;
}

.logo:hover,
summary,
.icon,
.nav-random {
  cursor: pointer;
}

.logo:hover {
  filter: brightness(100%) sepia(100) saturate(100) hue-rotate(25deg);
  opacity: 1;
}

.one {
  background: rgba(40, 41, 45, 1);
}

.two {
  background: rgba(40, 41, 45, .9);
}

/* Spawn anim */
@keyframes spawn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HUE rotate anim */
@keyframes hue {
  from {
    filter: hue-rotate(0);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 2.5vh;
  }

  h1,
  h2,
  h3,
  p,
  ul,
  ol,
  li,
  details,
  pre {
    margin-bottom: 2vh;
  }

  pre {
    padding-bottom: 2vh;
  }

  h1 {
    font-size: 5.7vh;
  }

  h2 {
    font-size: 4.0vh;
  }

  h3,
  .nav-header {
    font-size: 2.8vh;
  }

  h3 {
    margin-top: 6vh;
  }

  caption,
  th,
  td {
    padding: 2vh;
  }

  a,
  a:link,
  a:hover,
  a:active,
  a:focus,
  a:visited {
    border-bottom: solid .3vh;
    border-radius: .5vh;
  }

  a:hover,
  a:active,
  a:focus {
    border-bottom: none;
  }

  .icon {
    width: 10vh;
    height: 10vh;
  }

  .icon .menu,
  .icon .menu:before,
  .icon .menu:after {
    width: 6vh;
    height: 1vh;
    border-radius: 1vh;
  }

  .icon:hover .menu,
  .icon:hover .menu:before,
  .icon:hover .menu:after {
    background: #A373C2;
  }

  .icon .menu {
    bottom: 4.5vh;
    right: 2vh;
  }

  .icon .menu:before {
    top: -2vh;
  }

  .icon .menu:after {
    top: 2vh;
  }

  .icon:hover,
  .icon:active,
  .icon:focus {
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
  }

  .nav-bottom {
    display: block;
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    backdrop-filter: blur(50px);
  }

  @-moz-document url-prefix() {
    .nav-bottom {
      background-color: rgba(0, 0, 0, 1);
    }
  }

  nav {
    min-width: 100%;
    max-height: 0;
    bottom: 10vh;
    box-shadow: none;
    transition: max-height ease .6s;
  }

  #menu:checked~nav {
    max-height: 40vh;
  }

  nav ul {
    margin: 2vh 10vw 0 10vw;
    /* Top | Right | Bottom | Left */
  }

  .nav-divider {
    margin-bottom: 6vh;
  }

  .nav-footer {
    margin-bottom: 0;
  }

  .nav-random {
    margin: 2vh;
  }

  .nav-random-question {
    font-size: 8vh;
    line-height: 5vh;
  }

  .nav-random-hint {
    display: block;
    float: right;
    margin-left: 2vh;
    font-size: 1.6vh;
    line-height: 1.8vh;
  }

  .header {
    text-align: center;
  }

  .header h1,
  .header p {
    text-align: left;
  }

  .logo {
    max-width: 20vh;
    max-height: 20vh;
    float: none;
  }

  #comments {
    padding-bottom: 18vh;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* GOD MODE */
/* * { border: solid 1px #0f0; } */

/*
... Со дна мастерства раздались сирены ангелов.
*/